<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoredataExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B8721761B5BA1E0002789EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B87218D1B5BA1E0002789EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8721981B5BA1E0002789EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
